@font-face {
    font-family: 'Enhanced Dot Digital';
    src: url('fonts/enhanced_dot_digital-7.ttf');
}

@font-face {
    font-family: 'Jacquard 12';
    src: url('fonts/vhs-gothic.ttf');
}

@font-face {
    font-family: 'Yarndings';
    src: url('fonts/Yarndings12-Regular.ttf');
}
body {
    background-color: black;
    font-family: 'Jacquard 12';
    font-size: 20px;
    text-align: center;
    color: white;
}

.details {
    font-family: 'Enhanced Dot Digital';
    font-size: 30px;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

h2{
    font-family: 'Jacquard 12';
    font-size: 30px;
}

.wingdings {
    font-family: 'Yarndings';
}
